.border {
    border: 3px solid #111;
    height: 300px;
    width: 700px;
    margin: 0 auto;
}
.dinosaur {
    position: relative;
    height: 60px;
    width: 60px;
    background: #111;
    left: 0px;
    top: 242px;
}
.jump {
    animation: jump 0.3s linear;
}
@keyframes jump {
    0% {
        top: 242px;
    }
    50% {
        top: 162px;
    }
    100% {
        top: 242;
    }
}